@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {}

.shadow {
  box-shadow: 0px 0px 4px 2px rgba(58, 36, 36, 0.2) !important;
}
.border-red{
  border: 2px solid rgb(213, 58, 58);
  border-radius: 4px;
  color: red;
}
.hide-scrollbar::-webkit-scrollbar {
  display: none;
}

/* Hide scrollbar for IE, Edge and Firefox */
.hide-scrollbar {
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
}

.border-black-1 {
  border: 1px solid black;
}
.capitalize{
  text-transform: capitalize !important;
}

.inputOtp::-webkit-outer-spin-button,
.inputOtp::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.border-green{
  border: 2px solid rgb(55, 153, 55) !important;
  border-radius: 4px;
  color: rgb(59, 158, 70) !important;
}
.border-green:hover{
  background: rgb(59, 158, 70);
  color: white !important;
}
.btn-border-blue{
  border: 2px solid rgb(22, 44, 212) !important;
  border-radius: 4px;
  color: rgb(22, 44, 212) !important;
}
.btn-border-blue:hover{
  background: rgb(22, 44, 212);
  color: white !important;
}
.btn-bg-blue{
  background: rgb(22, 44, 212) !important;
  border-radius: 4px;
  color: white !important;
}
.btn-bg-blue:hover{
  background: rgb(6, 26, 170);
  color: white !important;
}
.border-red:hover{
  background: rgb(213, 58, 58);
  color: white;
}
.btn-red{
  background: rgb(213, 58, 58);
  color: white;
}
.btn-green{
  background: rgb(60, 161, 48);
  color: white;
}
.text-muted{
  color: rgb(174, 173, 173);
}
.text-red{
  color: rgb(213, 58, 58) !important;
}
.double-grid{
  display: grid;
  gap:1px;
  grid-template-columns:1fr 3fr;
}
@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

/* swipe */
.swiper {
  width: 100%;
  height: 50%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 50%;
  object-fit: cover;
}

.swiper {
  /* Down */
  width: 50%;
  height: 300px;
  margin-left: auto;
  margin-right: auto;
}

.swiper-slide {
  width: 100%;
  background-size: fit;
  background-position: center;
}

.mySwiper {
  /* low division */
  width: 100%;
  height:100%;
  box-sizing: border-box;
}

.mySwiper .swiper-slide {
  /* low single img card */
  width: 25%;
  height: 50%;
  opacity: 0.4;
}
.mySwiper2 {
  /* high division */
  width: 100%;
  display: block;
  object-fit: cover;
}

.mySwiper .swiper-slide-thumb-active {
  opacity: 1;
}
.mySwiper4 .swiper-slide-thumb-active {
  opacity: 1;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
